{# templates/blog/first.html.twig #}
<html>
<head>
    <title>Übung :)</title>
</head>
<body>
    <h1>{{ page_h1 }}</h1> {# Das ist eine Variable #}
    <ul>
        {% for jahreszeit in jahreszeiten %}
            <li>{{ jahreszeit }}</li>
        {% endfor %}
    </ul>
</body>
</html>