.normalPadding{
    padding: 1rem;
}
.ignoreTopBottomPadding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navLink{
    text-decoration: none;
    font-size: 1.5rem;
}
.navLink:hover{
    color: inherit;
}

.hideCheckbox{
    display: none;
}

.display-none{
    display: none;
}

.w-90{
    width: 90%;
}

.fakeTextarea{
    overflow-wrap: break-word;
    overflow: auto;
    padding: 6px 12px;
}


.ts-small{
    font-size: 12px;
}

.tagContainerParent{
    background: white;
    color: black;
}

.tagContainer{
    display: flex;
    overflow: auto;
}

.tagContainer .tagField{
    margin: 0 5px;
    display: flex;
    align-items: center;
    /*overflow: auto;*/
}

.tagContainer .tagField span{
    border: 1px solid gray;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px 15px;
}

.tagFieldBtn{
    border: 1px solid gray;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    padding: 2px;
    font-size: 20px;
    background: lightgray;
}

.tagContainer input{
    flex: 1;
    padding:5px;
    outline:none;
    border: 0;
}

.noOverflow{
    overflow: hidden;
}

.wikiPB{
    width: 100%;
    height: auto;
}


.platformAdminColor{
    color: #fff;
    background-color: #8a0505;
    border-color: #8a0505;
}
.platformAdminColor:hover{
    color: #fff;
    background-color: #7A0404FF;
    border-color: #7A0404FF;
}
#btn-back-to-top {
    position: fixed;
    bottom: 25px;
    right: 35px;
    display: none;
}
.btn-circle {
    width: 35px;
    height: 35px;
    padding: 6px 0;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 20px;
    text-align: center;
}

.voteColor{
    filter: invert(57%) sepia(67%) saturate(555%) hue-rotate(63deg) brightness(99%) contrast(87%);
    color: black;
}
.heartColor{
    filter: invert(13%) sepia(61%) saturate(5734%) hue-rotate(0deg) brightness(82%) contrast(121%);
    color: black;
}

.font-20{
    font-size: 20px;
}
.normalDisable{
    opacity: .65;
}

.smallHr{
    margin: 0;
}

.smallHr-b{
    margin-bottom: 8px;
}

.otherPosts{
    margin-top: .5rem;
}