.normalPadding{
    padding: 1rem;
}
.ignoreTopBottomPadding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navLink{
    text-decoration: none;
    font-size: 1.5rem;
}
.navLink:hover{
    color: inherit;
}

.hideCheckbox{
    display: none;
}

.display-none{
    display: none;
}

.w-90{
    width: 90%;
}

.fakeTextarea{
    overflow-wrap: break-word;
    overflow: auto;
    padding: 6px 12px;
}

.tagContainer{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    display: flex;

}
.tagContainer .tag{
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.xTag{
    font-size: 16px;
    margin-left: 5px;
}

.tagContainer input{
    flex: 1;
    padding:5px;
    outline:none;
    border: 0;

}