{# templates/wikiPages/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}World Wild Wiki{% endblock %}
{% block body %}

    {% if isPlatformAdmin %}
        <div class="adminSettings container mt-3">
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <a href="/adminSettings" class="btn btn-primary">Platform Settings</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container mt-3 border rounded borderDarkMode fakeTextarea textArea countMe">
            <div id="insert_0"></div>
            <div class="parseMe" id="parse_0" hidden>{% if page != null %}{{ page.getMarkdownMd }}{% else %}# Sorry this page is empty :({% endif %}</div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}