{# templates/wikiPages/home.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}World Wild Wiki{% endblock %}
{% block body %}
    <div class="container mt-5 border rounded">
        <div id="parseToMD" class="mt-2">{# Dieses div muss leer bleiben! Der gwünschte Inhalt muss direkt an main.js übergeben werden! #}</div>
    </div>

{% endblock %}
